<div class="section Section-About" data-color="Black" data-id="about" data-name="W co wierzymy?" id="Section-About">
    <div class="slide first-slide" data-color="Black" data-mobilecolor="" data-name="W co wierzymy?" id="Slide-About">
        <div class="SectionStack">
            <div id="about-new"class="about-new">
                <div class="question-container">
                    <h1 class="question-container__question" v-html="text.SectionStack_About_question"></h1>
                </div>
                <h1 class="about-new__answer">
                    {{text.SectionStack_About_answer}}
                </h1>
                <h3 class="about-new__statement">
                    {{text.SectionStack_About_statement }}
                </h3>
                <div class="about-new__row row-hendrix">
                    <img alt="Jimi Hendrix" class="img-hendrix" src="_pics/hendrix.png">
                    <p class="copy">
                        {{text.SectionStack_About_hendrix}}
                    </p>
                </div>
                <div class="about-new__row row-mtv">
                    <p class="copy">
                    {{text.SectionStack_About_mtv}}
                    </p>
                    <img alt="MTV" class="img-mtv" src="_pics/mtv.png">
                </div>
                <div class="about-new__row row-airmax">
                    <img alt="Airmax" class="img-airmax" src="_pics/airmax.png">
                    <p class="copy">
                        {{text.SectionStack_About_airmax}}
                    </p>
                </div>
                <h3 class="about-new__statement2" v-html="text.SectionStack_About_statement2"></h3>

                <div class="col-container">
                    <div class="col-container__col col-container__col-1-3">
                        <img alt="01" class="number" src="_pics/0-1.png">
                        <p class="copy">
                            {{text.SectionStack_About_container1}}
                        </p>
                    </div>
                    <div class="col-container__col col-container__col-2-3"><img alt="02" class="number" src="_pics/0-2.png">
                    <p class="copy">
                        {{text.SectionStack_About_container2}}
                    </p>
                    <img alt="#nofollow" class="nofollow" src="_pics/nofollow.png"></div>
                    <div class="col-container__col col-container__col-3-3">
                        <img alt="03" class="number" src="_pics/0-3.png">
                        <p class="copy">
                            {{text.SectionStack_About_container3}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="button-red-container">
                <!-- <a class="Button Button-Red Button-Red-About SlideRight" href="">
                    <span>
                    {{text.BTNgoTooMission}}
                    </span>
                    <span class="about-arrow"></span>
                </a> -->
            </div>
        </div>
    </div>
    <div class="slide Slide-Mission fp-noscroll" data-color="Mixed" data-mobilecolor="White" data-name="&lt;a data-href='about' href='#about' data-slide='0'&gt;wróć do O nas&lt;/a&gt;" id="Slide-Mission">
        <div class="SectionStack">
            <div class="SectionStack_SolidBg SectionStack_SolidBg-Black Desktop"></div>
            <div class="SectionStack_SolidBg SectionStack_SolidBg-White Mobile"></div>
            <div class="SectionStack_Split SectionStack_Split-White Desktop" id="Slide-Mission_Split"></div>
            <div class="TextContainer">
                <h1 class="Desktop">
                    {{text.SectionStack_Mission_hedline1}}
                </h1>
                <h3 class="black-subheader">
                    {{text.SectionStack_Mission_subhedline1 }}
                </h3>
                <div class="copy" v-html="text.SectionStack_Mission_copy1"></div>
                <div class="Mobile">
                    <br>
                </div>
                <a class="Button Button-BlackBorder SlideRight Mobile" href="">
                    <span>
                    {{text.BTNgoTooVision}}
                    </span>
                </a>
            </div>
            <div class="CharacterSelect Desktop" id="CharacterSelect">
                <h2>
                    {{text.SectionStack_CharacterSelect_hedlien}}
                </h2>
                <div class="CharacterParams" id="CharacterParams">
                    <div class="CharacterName">
                        Ursae Majoris
                    </div>
                    <div class="CharacterPower">
                        {{text.power}}:
                    </div>
                    <div class="CharacterPowerDesc">
                        {{text.telepatia}}
                    </div>
                </div>
                <div class="Characters" id="Characters">
                    <div>
                        <img alt="" data-hero="Ursae" data-name="Ursae Majoris" data-power="{{text.power}}:" data-powerdesc="{{text.telepatia}}" src="_pics/char_ula.png">
                    </div>
                    <div>
                        <img alt="" data-hero="PSD" data-name="Dot PSD" data-power="{{text.power}}:" data-powerdesc="{{text.atak}}" src="_pics/char_piotr.png">
                    </div>
                    <div>
                        <img alt="" data-hero="Roch" data-name="&lt;br /&gt;Roch" data-power="{{text.power}}:" data-powerdesc="{{text.ryba}}" src="_pics/char_michal.png">
                    </div>
                    <div>
                    <img alt="" data-hero="Adams" data-name="&lt;br /&gt;Adams" data-power="{{text.power}}:" data-powerdesc="{{text.sluch}}" src="_pics/char_adam.png">
                    </div>
                </div>
                <a class="Button Button-Red" href="#" id="MissionSelectFacilityBtn">
                    <span>
                    {{text.BTNselectCharacterForMission}}
                    </span>
                </a>
            </div>
            <div class="CharacterSelect FacilitySelect Desktop" id="FacilitySelect">
                <h2>
                    {{text.SectionStack_FacilitySelect_hedlien}}
                </h2>
                <div class="CharacterParams" id="FacilityParams">
                    <div class="CharacterName">
                        {{text.balon}}
                    </div>
                    <div class="CharacterPower">
                        {{text.attributes}}:
                    </div>
                    <div class="CharacterPowerDesc">
                        {{text.stabilny}}
                    </div>
                </div>
                <div class="Characters" id="Facilities">
                    <div>
                        <img alt="" data-facility="Baloon" data-name="{{text.balon}}" data-power="{{text.attributes}}:" data-powerdesc="{{text.stabilny}}" src="_pics/facility-baloon.png">
                    </div>
                    <div>
                        <img alt="" data-facility="Wings" data-name="{{text.skrzydla}}" data-power="{{text.attributes}}:" data-powerdesc="{{text.szalenstwo}}" src="_pics/facility-wings.png">
                    </div>
                    <div>
                        <img alt="" data-facility="Shuttle" data-name="{{text.rakieta}}" data-power="{{text.attributes}}:" data-powerdesc="5000HP" src="_pics/facility-rocket.png">
                    </div>
                    <div>
                        <img alt="" data-facility="Broomstick" data-name="{{text.turbo}}" data-power="{{text.attributes}}:" data-powerdesc="{{text.zwinnosc}}" src="_pics/facility-stick.png">
                    </div>
                </div>
                <a class="Button Button-Red SlideRight" href="#" id="MissionSelectGoMissionBtn">
                    <span>
                    {{text.MissionSelectGoMissionBtn}}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="slide Slide-Vision" data-color="Black" data-mobilecolor="" data-name="&lt;a data-href='about' href='#about' data-slide='1'&gt;Wróć do Misji&lt;/a&gt;">
        <div class="SectionStack_Vehicle Desktop" data-facility="Baloon" data-hero="Ursae" id="Vision_Vehicle">
            <div class="SectionStack_Vehicle_Facility">
                <img alt="Hellium baloon" class="Facility_Baloon" src="_pics/facility-baloon.png">
                <img alt="Dragonfly wings" class="Facility_Wings" src="_pics/facility-wings.png">
                <img alt="Space shuttle" class="Facility_Shuttle" src="_pics/facility-rocket.png">
                <img alt="The broomstick" class="Facility_Broomstick" src="_pics/facility-stick.png">
            </div>
            <div class="SectionStack_Vehicle_Heroes">
                <img alt="Ursae" class="Vehicle_Ursae" src="_pics/char_ula.png">
                <img alt="PSD" class="Vehicle_PSD" src="_pics/char_piotr.png">
                <img alt="Roch" class="Vehicle_Roch" src="_pics/char_michal.png">
                <img alt="Adams" class="Vehicle_Adams" src="_pics/char_adam.png">
            </div>
        </div>
        <div class="wrapper">
            <h2 class="Desktop">
                {{text.SectionStack_Vision_hedlien}}
            </h2>
            <div class="col-container">
                <div class="col-container__col col-container__col-1-3">
                    <img alt="01" class="number vehicle-number" src="_pics/0-1-red.png">
                    <p class="copy">
                        {{text.SectionStack_Vision_copy1}}
                    </p>
                </div>
                <div class="col-container__col col-container__col-2-3">
                    <img alt="02" class="number vehicle-number" src="_pics/0-2-red.png">
                    <p class="copy">
                        {{text.SectionStack_Vision_copy1}}
                    </p>
                </div>
                <div class="col-container__col col-container__col-3-3">
                    <img alt="03" class="number vehicle-number" src="_pics/0-3-red.png">
                    <p class="copy">
                        {{text.SectionStack_Vision_copy3}}
                    </p>
                    <a class="Button Button-Red SlideRight" href="">
                        <span>
                        {{text.BTNgoToChange}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide Slide-Change fp-noscroll" data-color="White" data-mobilecolor="" data-name="&lt;a data-href='about' data-slide='2' href='#about'&gt;Wróć do Wizji&lt;/a&gt;" id="Slide-Change">
        <div class="SectionStack">
            <div class="ChangeSlide" id="ChangeSlide">
                <div class="ChangeSlideContent">
                    <h2 id="ChangeMainTitle"></h2>
                    <div id="ChangeContent" class="ChangeContent-pl" data-content="[[&quot;Zmiana&quot;,&quot;&lt;p&gt;&lt;strong&gt;Client Service&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Przeorganizowaliśmy działanie client service, aby zapewnić Ci partnerstwo przy prowadzonych projektach. Koniec z accountami z przypadku.&lt;/p&gt;&lt;p&gt;Zawsze uwzględniamy szerszy obraz.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;&lt;strong&gt;Komunikacja&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Lojalizowanie Twoich klient&oacute;w nie polega na doborze miejsca kontaktu, a sposobie rozmawiania z nimi.&lt;/p&gt;&lt;p&gt;Język komunikacji marki czyni je albo wielkimi, albo jednymi z wielu.&lt;/p&gt;&lt;p&gt;Komunikacja jest wszystkim!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;&lt;strong&gt;Humor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Jest tylko jeden uniwersalny, rozpoznawalny przez wszystkich język. To humor. To nie znaczy, że musisz być śmieszny, tylko że komunikacja musi zawierać w sobie umiejętność sprawienia, aby klient się uśmiechnął.&lt;/p&gt;&lt;p&gt;Zresztą przypomnij sobie, kt&oacute;re reklamy pamiętasz? Te zabawne? Yhm, no więc właśnie.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;&lt;strong&gt;Chadzanie pod prąd&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;W og&oacute;le nie chodzi o gonienie trend&oacute;w. Zostaw to gwiazdom konferencji objawiających przyszłość. Zawsze chodzi o znalezienie drogi, kt&oacute;rą nikt wcześniej nie podążał, a kt&oacute;rą inni będą chcieli p&oacute;jść z Tobą.&lt;/p&gt;&lt;p&gt;Nie chodzi o myślenie outside the box. Chodzi o to, że pudełka w og&oacute;le nie ma.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Chcesz więcej deklaracji? OK!&lt;/p&gt;&lt;p&gt;Sprawdź nas!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Gł&oacute;wnie wierzymy w pirat&oacute;w. Spaghetti, durszlaki i całą resztę.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tęsknimy za Flashem. Wszyscy tęsknią, ale boją się przyznać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Robimy extra RWD, team zjadł na tym zęby pracując dla marek międzynarodowych. Ale nie powiemy, że kochamy RWD. Nikt nie chce tego powiedzieć. &lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;&lt;i&gt;Powr&oacute;t do przyszłości&lt;/i&gt; był jednym z najlepszych film&oacute;w. Serio...&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Internet of things wieje nudą. Super do hackowania całego USA, ale trochę każdego grzeje wifi w kuchence.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Płakaliśmy ze śmiechu oglądając &lt;i&gt;Silicon Valley.&lt;/i&gt;&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Brak audio jacka nie jest cool. Nawet u Apple.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Facebook jest strasznie nudny. To tak jakby zostać na poprawinach, ale cały tydzień.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Pamiętasz ten czas, kiedy szukając w Google treści nie trafiałeś na wszystkie te bezwartościowe wyniki z blog&oacute;w? My pamiętamy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nikt nigdy jeszcze nie doznał ekscytacji odbierając maila. Tylko m&oacute;wimy, zanim usłyszysz coś innego.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;99,9% banner&oacute;w jest dnem. Wiemy to.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ciągle jeszcze pamiętamy Altavistę. A Ty?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Netflix jest extra. Niby prosta sprawa, a taka nieosiągalna dla innych VOD. Ciekawe.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Eleon Musk jest totalnie spoko. Sprawił, że bycie inżynierem znowu jest fajniejsze niż celebrytą.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;VR jest w porządku. Ale nie pow&oacute;d, aby za niego umierać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Instagram jest totalnie spoko. Szkoda, że przez API zawsze będą drudzy. Albo trzeci.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Pragniemy, aby w Spotify pracował chociaż jeden sensowny UX.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie zamawiaj Ubera w Polsce. Chyba, że kochasz Dacie. Kochasz?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Świetna reklama robi jedną bazową rzecz. Inspiruje Cię i pcha naprz&oacute;d.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Wszystko, co było w latach 80-tych było cool. Opr&oacute;cz komunizmu.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;MixMag's YouTube jest totalnie extra, wiedziałeś o tym?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Pij więcej wody. (Tak, właśnie kończą się nam statementy)&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Bądź dobry (&hellip;tak, skończyły się).&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nic.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Serio nic.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Kompletnie nic.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tarantino staje się lepszy z każdym filmem. Tak tylko m&oacute;wimy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;I znowu nic.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Koniec, koniec statement&oacute;w.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Przestań.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Stop.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Prosimy, przestań.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie klikaj tu już.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Proszę!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ok.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Namierzymy Twoje ciasteczko.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Namierzymy Twoje ciasteczko i je sprzedamy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Firmom od podr&oacute;bek Viagry, nigdy się nie uwolnisz od spamu.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tak zrobimy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Z tego się nie da wypisać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Lub przestań.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;OK.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Sam chciałeś.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Właśnie Cię zapisaliśmy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Serio.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Spokojnie, wiemy, że po ciastku się nie da.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Stop.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Zaczyna się robić dziwnie. &lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Widzimy Cię. Nie zakleiłeś kamerki jak Mark.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Właśnie teraz.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tak serio, to nie.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ale da się to zrobić.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tylko po co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Wiesz kto tak robi? Jak wiesz, to spoko.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;No dobra, ile możesz klikać?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;OK, teraz przestaniemy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie ma nic do klikania.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie klikaj.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Przestań!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Stop.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie, nie nie!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie, nie, nie, nie!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Wyobraź sobie, że jesteśmy chatbotem.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ma to sens, co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ale nie jesteśmy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Przestań.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Teraz wiem, że by wystarczył chatbot.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Chyba się nim stajemy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Staniemy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Przestań!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Stop!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Przestań klikać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Testujesz nas, co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie przegramy tej bitwy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ani wojny.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;(Niczego nie przegramy)&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Możemy tak bez końca.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;OK.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie możesz nas zmęczyć.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;To nie jest możliwe.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Serio chcesz nas sprawdzać?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;OK!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;No to śmiało!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Pr&oacute;buj!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Prędzej ci padnie myszka.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo zetrzesz mousepad.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo rozboli Cię palec.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Kto w og&oacute;le używa myszek?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Nie ważne, przestań klikać!&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Oblejesz ten test.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Mamy&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;zamiar&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;wygrać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Wygramy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;W sumie patrząc na ciebie, możemy przegrać.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ale nie możesz o tym wiedzieć.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Więc się nie dowiesz.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Kończy nam się skrypt.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Ale jesteśmy pełni nadziei.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;I cierpliwi.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Dość.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo i nie.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;To nie jest bot, to skrypt pisany przez człowieka.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tak m&oacute;wią maszyny swoją drogą, nie?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Trochę scary.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Masz mało przyjaci&oacute;ł, co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;I masz strasznie nudą pracę, co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Mn&oacute;stwo czasu na klikanie, co?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Po r&oacute;żnych stronach, powiedz nam, tylko takich jak ta?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;To jaką masz pracę?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Dobra, dobra.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Pozw&oacute;l mi zgadnąć...&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Jesteś klikaczem?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Słynni kolesie z Chin, kt&oacute;rzy biorą kasę za klikanie?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Zgadliśmy?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Tak myśleliśmy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;No dobra.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Po prostu do nas napisz na maila.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo zadzwoń, wtedy serio pogadamy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Sam do Ciebie oddzwonię.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Serio.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;OK?&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Śmiało napisz.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Kliknij na&lt;a href=mailto:sayhello@huee.in&gt;sayhello@huee.in&lt;/a&gt;.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo do mnie zadzwoń bezpośrednio&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;W normalnych godzinach.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Jeśli nie jesteś szaleńcem, pogadamy.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;To +48 666 646 006.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Jestem partnerem zarządzającym.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Śmiało dzwoń.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Albo napisz maila, dopisując w temacie słowo 'skrypt'.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Bez obaw.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Peace and love.&lt;/p&gt;&quot;],[&quot;Zmiana&quot;,&quot;&lt;p&gt;Piotr.&lt;/p&gt;&quot;]]"></div>

                    <div id="ChangeContent" class="ChangeContent-en" data-content="[[&quot;Change&quot;, &quot;<p><strong>Client Service</strong></p><p>We change internal organization of every process to guarantee you a real partnership.</p><p>We will become your partner not only in business, but we will also provide you with a lot of support.</p><p>We will think bigger.</p>&quot;],[&quot;Change&quot;, &quot;<p><strong>Language</strong></p><p>It’s all about words. Making your client loyal is not about where we talk to him but how we speak with him.</p><p>Language used in all communication makes brands real, makes them big and desired by many.</p><p>It’s all about how we communicate! </p>&quot;],[&quot;Change&quot;, &quot;<p><strong>Humour</strong></p><p>There is only one universal language, which can be understood everywhere in the world. It’s humour. It doesn’t mean that you have to be funny or ironic. It simply means that you have the ability to make people smile.</p><p>Just think which commercials do you remember? Funny ones? Yep.</p>&quot;],[&quot;Change&quot;, &quot;<p><strong>Going against the masses</strong></p><p>It’s not about following the trends. In advertising it’s always about choosing a path that nobody else has discovered before, and which is so good that everybody wants to follow you. Now.</p><p>It’s not about thinking outside the box. It’s more like believing there is no box and no limitations.</p>&quot;],[&quot;Change&quot;,&quot;<p>You want more statements? OK!</p><p>Try us!</p>&quot;],[&quot;Change&quot;,&quot;<p>We changed beliefs. Now each and every one of us believes in pirates.</p>&quot;],[&quot;Change&quot;,&quot;<p>We miss Adobe Flash. It was good. Like, really good.</p>&quot;],[&quot;Change&quot;,&quot;<p>We hate RWD. To be honest – everybody hates it. Even we do.</p>&quot;],[&quot;Change&quot;,&quot;<p>”Back to the future” was a good movie.</p>&quot;],[&quot;Change&quot;,&quot;<p>Internet of things is boring. Who wants to have a LCD in a cooking oven? Come on!</p>&quot;],[&quot;Change&quot;,&quot;<p>We cried while watching Silicon Valley.</p>&quot;],[&quot;Change&quot;,&quot;<p>Not having an audio jack in a smartphone is not cool.</p>&quot;],[&quot;Change&quot;,&quot;<p>Facebook is boring. It’s like a party with old mates that’s been going on for too long.</p>&quot;],[&quot;Change&quot;,&quot;<p>Do you remember the time when Google was finding decent content while searching? We do.</p>&quot;],[&quot;Change&quot;,&quot;<p>Nobody ever gets excited because of receiving an email. Just saying. Sales.</p>&quot;],[&quot;Change&quot;,&quot;<p>Most of banners suck. We know that.</p>&quot;],[&quot;Change&quot;,&quot;<p>We still remember Altavista. Do you?</p>&quot;],[&quot;Change&quot;,&quot;<p>Netflix is cool. Even though it’s never about movies, only series. They are cool.</p>&quot;],[&quot;Change&quot;,&quot;<p>Tesla is awesome. Being an engineer started to be sexy again.</p>&quot;],[&quot;Change&quot;,&quot;<p>VR now is just alright. Nothing to die for.</p>&quot;],[&quot;Change&quot;,&quot;<p>Instagram is cool. But API policy makes it always the second.</p>&quot;],[&quot;Change&quot;,&quot;<p>Spotify interface and UX is just so bad.</p>&quot;],[&quot;Change&quot;,&quot;<p>Do not take Uber in Poland. Or do, if you love Dacia Logan.</p>&quot;],[&quot;Change&quot;,&quot;<p>Great advertising does one thing: inspires you like hell. Move forward.</p>&quot;],[&quot;Change&quot;,&quot;<p>Most of more iconic things happened in the 80’s.</p>&quot;],[&quot;Change&quot;,&quot;<p>MixMag\&quot;s YouTube channel is awesome. Did you know that?</p>&quot;],[&quot;Change&quot;,&quot;<p>Drink more water. (And yes, we almost run out of ideas here.)</p>&quot;],[&quot;Change&quot;,&quot;<p>Be good (…yep, we do not have any more ideas).</p>&quot;],[&quot;Change&quot;,&quot;<p>Nothing.</p>&quot;],[&quot;Change&quot;,&quot;<p>Just nothing.</p>&quot;],[&quot;Change&quot;,&quot;<p>Really nothing.</p>&quot;],[&quot;Change&quot;,&quot;<p>Don’t you think that Tarantino gets better with every new movie? Just sayin’.</p>&quot;],[&quot;Change&quot;,&quot;<p>And still nothing.</p>&quot;],[&quot;Change&quot;,&quot;<p>We ran out of ideas.</p>&quot;],[&quot;Change&quot;,&quot;<p>It’s boring.</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>Please, stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>Don’t.</p>&quot;],[&quot;Change&quot;,&quot;<p>Don’t click here any more.</p>&quot;],[&quot;Change&quot;,&quot;<p>Please!</p>&quot;],[&quot;Change&quot;,&quot;<p>Ok.</p>&quot;],[&quot;Change&quot;,&quot;<p>We will eat your cookie.</p>&quot;],[&quot;Change&quot;,&quot;<p>We will eat your cookie and we will sell it.</p>&quot;],[&quot;Change&quot;,&quot;<p>We will sell it to Viagra\&quot;s marketing company.</p>&quot;],[&quot;Change&quot;,&quot;<p>Yes, we will.</p>&quot;],[&quot;Change&quot;,&quot;<p>You will never unsubscribe from that.</p>&quot;],[&quot;Change&quot;,&quot;<p>Or you stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>Okay.</p>&quot;],[&quot;Change&quot;,&quot;<p>As you wish.</p>&quot;],[&quot;Change&quot;,&quot;<p>You are now subscribed.</p>&quot;],[&quot;Change&quot;,&quot;<p>You are now subscribed.</p>&quot;],[&quot;Change&quot;,&quot;<p>You are now subscribed.</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>Okay, it\&quot;s starting to be weird. </p>&quot;],[&quot;Change&quot;,&quot;<p>We can see you.</p>&quot;],[&quot;Change&quot;,&quot;<p>Now.</p>&quot;],[&quot;Change&quot;,&quot;<p>No, we can’t.</p>&quot;],[&quot;Change&quot;,&quot;<p>We could in fact.</p>&quot;],[&quot;Change&quot;,&quot;<p>Mark Zuckerberg’s case, huh?</p>&quot;],[&quot;Change&quot;,&quot;<p>He should sell branded tapes now in fact.</p>&quot;],[&quot;Change&quot;,&quot;<p>Oh, come on. Who’s the bad guy?</p>&quot;],[&quot;Change&quot;,&quot;<p>OK, now we stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>Nothing to click.</p>&quot;],[&quot;Change&quot;,&quot;<p>Just don\&quot;t click.</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop clicking.</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>No!</p>&quot;],[&quot;Change&quot;,&quot;<p>No, no, no!</p>&quot;],[&quot;Change&quot;,&quot;<p>No, no, no, no, no!</p>&quot;],[&quot;Change&quot;,&quot;<p>Imagine that we are a chatbot.</p>&quot;],[&quot;Change&quot;,&quot;<p>It would be tricky, huh?</p>&quot;],[&quot;Change&quot;,&quot;<p>But we aren’t.</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop.</p>&quot;],[&quot;Change&quot;,&quot;<p>In fact, now I think that we should be.</p>&quot;],[&quot;Change&quot;,&quot;<p>And I’m almost sure that we will be.</p>&quot;],[&quot;Change&quot;,&quot;<p>One day.</p>&quot;],[&quot;Change&quot;,&quot;<p>Damn!</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop!</p>&quot;],[&quot;Change&quot;,&quot;<p>Stop clicking.</p>&quot;],[&quot;Change&quot;,&quot;<p>OK, you’re testing us, huh?</p>&quot;],[&quot;Change&quot;,&quot;<p>We are not going to lose.</p>&quot;],[&quot;Change&quot;,&quot;<p>This battle.</p>&quot;],[&quot;Change&quot;,&quot;<p>(What about a whole war?)</p>&quot;],[&quot;Change&quot;,&quot;<p>It should go somehow differently.</p>&quot;],[&quot;Change&quot;,&quot;<p>OK.</p>&quot;],[&quot;Change&quot;,&quot;<p>We will not lose that war.</p>&quot;],[&quot;Change&quot;,&quot;<p>And that battle.</p>&quot;],[&quot;Change&quot;,&quot;<p>Do you want to challenge us?</p>&quot;],[&quot;Change&quot;,&quot;<p>OK!</p>&quot;],[&quot;Change&quot;,&quot;<p>Go ahead!</p>&quot;],[&quot;Change&quot;,&quot;<p>You can try.</p>&quot;],[&quot;Change&quot;,&quot;<p>But your Logitech mouse will die first!</p>&quot;],[&quot;Change&quot;,&quot;<p>Or your Microsoft mouse.</p>&quot;],[&quot;Change&quot;,&quot;<p>Or your touchpad.</p>&quot;],[&quot;Change&quot;,&quot;<p>(Sometimes, at meetings, there’s a guy with an IBM. And those weird bastard do not have touchpads! That’s sick!)</p>&quot;],[&quot;Change&quot;,&quot;<p>Whatever… You clicked again!</p>&quot;],[&quot;Change&quot;,&quot;<p>You will fail here.</p>&quot;],[&quot;Change&quot;,&quot;<p>We</p>&quot;],[&quot;Change&quot;,&quot;<p>will</p>&quot;],[&quot;Change&quot;,&quot;<p>win.</p>&quot;],[&quot;Change&quot;,&quot;<p>We will win.</p>&quot;],[&quot;Change&quot;,&quot;<p>In fact, we can lose.</p>&quot;],[&quot;Change&quot;,&quot;<p>But you should not know that.</p>&quot;],[&quot;Change&quot;,&quot;<p>So you do not know that.</p>&quot;],[&quot;Change&quot;,&quot;<p>We are running out of script here.</p>&quot;],[&quot;Change&quot;,&quot;<p>But we are still hopeful.</p>&quot;],[&quot;Change&quot;,&quot;<p>And patient.</p>&quot;],[&quot;Change&quot;,&quot;<p>A little.</p>&quot;],[&quot;Change&quot;,&quot;<p>Maybe not.</p>&quot;],[&quot;Change&quot;,&quot;<p>It’s not a bot. It’s a human script.</p>&quot;],[&quot;Change&quot;,&quot;<p>(Isn’t that what a machine would say?)</p>&quot;],[&quot;Change&quot;,&quot;<p>Spooky.</p>&quot;],[&quot;Change&quot;,&quot;<p>So, you have too much time on your hands, yes?</p>&quot;],[&quot;Change&quot;,&quot;<p>You must have a hell of a tedious job.</p>&quot;],[&quot;Change&quot;,&quot;<p>A lot of time for clicking?</p>&quot;],[&quot;Change&quot;,&quot;<p>On an agency\&quot;s website?</p>&quot;],[&quot;Change&quot;,&quot;<p>So what’s your job?</p>&quot;],[&quot;Change&quot;,&quot;<p>Okay, okay.</p>&quot;],[&quot;Change&quot;,&quot;<p>Let me guess…</p>&quot;],[&quot;Change&quot;,&quot;<p>You are a clicker!</p>&quot;],[&quot;Change&quot;,&quot;<p>Those legendary guys from China and India who are paid for clicking.</p>&quot;],[&quot;Change&quot;,&quot;<p>True?</p>&quot;],[&quot;Change&quot;,&quot;<p>OK, we thought so.</p>&quot;],[&quot;Change&quot;,&quot;<p>Ok, here\&quot;s the thing.</p>&quot;],[&quot;Change&quot;,&quot;<p>Write to us.</p>&quot;],[&quot;Change&quot;,&quot;<p>Then we can REALLY talk.</p>&quot;],[&quot;Change&quot;,&quot;<p>I will call you.</p>&quot;],[&quot;Change&quot;,&quot;<p>Seriously.</p>&quot;],[&quot;Change&quot;,&quot;<p>OK?</p>&quot;],[&quot;Change&quot;,&quot;<p>So, go ahead.</p>&quot;],[&quot;Change&quot;,&quot;<p>Click at <a href=mailto:sayhello@huee.in>sayhello@huee.in</a>.</p>&quot;],[&quot;Change&quot;,&quot;<p>Or call me directly.</p>&quot;],[&quot;Change&quot;,&quot;<p>Even now.</p>&quot;],[&quot;Change&quot;,&quot;<p>If you are not completely crazy, we will talk.</p>&quot;],[&quot;Change&quot;,&quot;<p>It’s +48 666 646 006.</p>&quot;],[&quot;Change&quot;,&quot;<p>I’m the CEO.</p>&quot;],[&quot;Change&quot;,&quot;<p>Shoot me.</p>&quot;],[&quot;Change&quot;,&quot;<p>But, you know, not literally!</p>&quot;],[&quot;Change&quot;,&quot;<p>Just give me a call.</p>&quot;],[&quot;Change&quot;,&quot;<p>Peace and love.</p>&quot;],[&quot;Change&quot;,&quot;<p>Piotr.</p>&quot;]]"></div>
                </div>
            </div>
            <div class="ChangeNav">
                <div class="FillButton" id="ChangeSlide_FillChange">
                    <span></span><span>
                        {{text.BTNChangeSlide_FillChange}}
                    </span>
                </div>
            </div>
            <div class="SectionStack_Vehicle SectionStack_Vehicle-Small Desktop" data-facility="Baloon" data-hero="Ursae" id="Change_Vehicle">
                <div class="SectionStack_Vehicle_Facility">
                    <img alt="Hellium baloon" class="Facility_Baloon" src="_pics/facility-baloon.png">
                    <img alt="Dragonfly wings" class="Facility_Wings" src="_pics/facility-wings.png">
                    <img alt="Space shuttle" class="Facility_Shuttle" src="_pics/facility-rocket.png">
                    <img alt="The broomstick" class="Facility_Broomstick" src="_pics/facility-stick.png">
                </div>
                <div class="SectionStack_Vehicle_Heroes">
                    <img alt="PSD" class="Vehicle_PSD" src="_pics/char_piotr.png">
                    <img alt="Roch" class="Vehicle_Roch" src="_pics/char_michal.png">
                    <img alt="Ursae" class="Vehicle_Ursae" src="_pics/char_ula.png">
                    <img alt="Adams" class="Vehicle_Adams" src="_pics/char_adam.png">
                </div>
            </div>
            <div class="ChangeItems Desktop" id="ChangeItems">
                <img alt="" class="Active" src="_pics/change_zegar.png">
                <img alt="" src="_pics/change_nozyczki.png">
                <img alt="" src="_pics/change_maszynka.png">
                <img alt="" src="_pics/change_delorean.png">
                <img alt="" src="_pics/change_octopus.png">
                <img alt="" src="_pics/change_kaseta.png">
                <img alt="" src="_pics/change_swinia.png">
                <img alt="" src="_pics/change_mia.png">
                <img alt="" src="_pics/change_ryby.png">
                <img alt="" src="_pics/change_ryba.png">
                <img alt="" src="_pics/change_robak.png">
                <img alt="" src="_pics/change_grzyby.png">
                <img alt="" src="_pics/change_cma.png">

            </div>
            <div class="ChangeGun Desktop" id="ChangeGun">
                <img alt="" class="GunTrigger" src="_pics/changeweapon_trigger.png">
                <img alt="" class="Gun" src="_pics/changeweapon.png">
            </div>
        </div>
    </div>
</div>