<div class="section Section-Capabilities" data-color="White" data-id="capabilities" data-name="Możliwości" id="Section-Capabilities">
    <div class="slide Slide-Capabilities" data-color="White" data-mobilecolor="" data-name="We touch" id="Slide-Capabilities">
        <div class="SectionStack">
            <img alt="hand" class="capabilities-hand" src="_pics/big-hand.png">
            <div class="SectionStack_CapabilitiesStatic">
                <div class="Row">
                    <div class="Col Col-1-2">
                        <div>
                            <h2>{{text.SectionStack_Capabilities_hedline}}</h2>
                            <p><strong>{{text.SectionStack_Capabilities_subHeline_1}}</strong></p>
                            <p>{{text.SectionStack_Capabilities_subHeline_2}}</p>
                        </div>
                    </div>
                    <div class="Col Col-2-2">
                        <div>
                            <ul class="CapabilitiesWeTouch" id="CapabilitiesWeTouch">
                                <li>
                                    <a class="services" href="#" v-html="text.SectionStack_Capabilities_BTN_1"></a>
                                </li>
                                <li>
                                    <a class="digital-prod" href="#" v-html="text.SectionStack_Capabilities_BTN_2"></a>
                                </li>
                                <li>
                                    <a class="brand-com" href="#" v-html="text.SectionStack_Capabilities_BTN_3"></a>
                                </li>
                                <li>
                                    <a class="brand-consult" href="#" v-html="text.SectionStack_Capabilities_BTN_4"></a>
                                </li>
                                <li>
                                    <a class="consult" href="#" v-html="text.SectionStack_Capabilities_BTN_5"></a>
                                </li>
                                <li>
                                    <a class="optimal" href="#" v-html="text.SectionStack_Capabilities_BTN_6"></p>
                                    </a>
                                </li>
                                <li>
                                    <a class="startup" href="#" v-html="text.SectionStack_Capabilities_BTN_7"></p>
                                    </a>
                                </li>
                                <li>
                                    <a class="digital-sales" href="#" v-html="text.SectionStack_Capabilities_BTN_8"></p>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="noaverage-header">
                                <strong v-html="text.SectionStack_Capabilities_noaverage"></strong>
                            </h3>
                            <a class="Button Button-Red SlideRight" href="#">
                                <span>{{text.SectionStack_Capabilities_BTN_book}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SectionStack_SideArt" id="CapabilitiesSideArt">
            <div class="scrollbar-macosx">
                    <h2 class="services pl">
                        {{text.SectionStack_Capabilities_Services_hedline}}
                    </h2>
                    <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_Services_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="digital-prod pl">
                    {{text.SectionStack_Capabilities_DigitalProd_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_DigitalProd_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="brand-com pl">
                    {{text.SectionStack_Capabilities_brandCom_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_brandCom_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="brand-consult pl">
                    {{text.SectionStack_Capabilities__brandConsult_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_brandConsult_consult_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="consult pl">
                    {{text.SectionStack_Capabilities_consult_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_consult_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="optimal pl" v-html="text.SectionStack_Capabilities_optimal_hedline"></h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_optimal_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="startup pl">
                    {{text.SectionStack_Capabilities_startup_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_startup_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <div class="scrollbar-macosx">
                <h2 class="digital-sales pl">
                    {{text.SectionStack_Capabilities_digitalSale_hedline}}
                </h2>
                <div class="SectionStack_SideArt--copy" v-html="text.SectionStack_Capabilities_digitalSale_copy"></div>
                <a class="Button Button-BlackBorder Mobile SectionStack_SideArt_CloseBtn" href="#">{{text.BTNBack}}</a>
            </div>
            <a class="SectionCoSideArtClose Desktop" href="#" id="CapabilitiesSideArtClose"></a>
        </div>
        <div class="slide Slide-Publication" data-color="White" data-mobilecolor="" data-name="Dziennik huee&trade;" id="Slide-Publication">
            <div class="Wrapper">
                <div class="Row">
                    <div class="Col Col-1-2">
                        <img alt="publication" class="publication-img" src="_pics/publication.png">
                        <div class="col-container">
                            <h2 class="slideTitle">
                                {{text.SectionStack_Publication_hedline}}
                            </h2>
                            <p class="publication-text">
                                {{text.SectionStack_Publication_copy}}
                            </p>
                        </div>
                    </div>
                    <div class="Col Col-2-2">
                        <div class="col-container">
                            <form role="publication-form" action="https://huee.in/formPublication.php" class="publication-form">
                                <div class="form-group">
                                    <h3 class="publication-form__text" v-html="text.SectionStack_Publication_Form_hedline"></h3>
                                    <div class="form-group">
                                        <input type="text" class="form-control publication-form__name" id="name" name="name" placeholder="{{text.SectionPublication_Label_Name}}">
                                        <span class="bar"></span>
                                        <!-- <label class="moving-label" for="name">Name</label> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control publication-form__mail" id="email" name="email" placeholder="E-mail">
                                        <span class="bar"></span>
                                        <!-- <label class="moving-label" for="email">E-mail</label> -->
                                    </div>
                                    <input class="submit-button" type="submit" value="Wyślij">
                                </div>
                            </form>
                            <a class="Button Button-Red SlideRight" href="">
                                <span>{{text.BTNBackScope}}</span>
                            </a>
                            <!-- <div class="publication-alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Successfully submitted!</strong>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>