<div class="section Section-Clients" data-color="White" data-id="teamexperience" data-name="Doświadczenie" id="Section-Clients">
    <div class="slide Slide-Clients" data-color="White" data-mobilecolor="" data-name="Doświadczenie" id="Slide-Clients">
        <div class="Wrapper">
            <h2 class="scetionTitle">
                {{text.SectionStack_Clients_hedline}}
            </h2>
            <h3>
                {{text.SectionStack_Clients_subhedline}}
            </h3>
            <ul class="clienctWprapp">
                <li><img alt="IFM Global Funds" class="logo-lg-30 logo-xs-20" src="_pics/clients/ifm.png"></li>
                <li><img alt="Hr Contact" class="logo-lg-40 logo-xs-30" src="_pics/clients/hrcontact-color.png"></li>
                <li><img alt="Quick Coders Academy" class="logo-lg-60" src="_pics/clients/qca.png"></li>
                <li><img alt="Dr Irena Eris" class="logo-lg-40 logo-xs-30" src="_pics/clients/drirenaeris.png"></li>
                <li><img alt="Futourist" class="logo-lg-15 logo-xs-10" src="_pics/clients/futourist-color.png"></li>
                <li><img alt="Amway" src="_pics/clients/amway.png"></li>
                <li><img alt="Reinessance Hotels" class="logo-lg-55 logo-xs-45" src="_pics/clients/reinessance.png"></li>
                <li><img alt="SodaPop" class="logo-xs-30" src="_pics/clients/sodapop.png"></li>
                <li><img alt="Best Western Hotels" class="logo-lg-40 logo-xs-30" src="_pics/clients/bestwestern.png"></li>
                <li><img alt="PlayBrush" class="logo-lg-55 logo-xs-45" src="_pics/clients/playbrush.png"></li>
                <li><img alt="Deco Culture" class="logo-lg-40 logo-xs-30" src="_pics/clients/decoculture.png"></li>
                <li><img alt="Urban Tool" class="logo-xs-20" src="_pics/clients/urbantool.png"></li>
                <li><img alt="Spotify" src="_pics/clients/spotify.png"></li>
                <li><img alt="Mercedes Benz" src="_pics/clients/mercedes.png"></li>
                <li><img alt="TUI" src="_pics/clients/tui.png"></li>
                <li><img alt="Knoppers" src="_pics/clients/knoppers.png"></li>
                <li><img alt="Heineken" src="_pics/clients/heineken.png"></li>
                <li><img alt="Lexus" src="_pics/clients/lexus.png"></li>
                <li><img alt="Dolce Gusto" src="_pics/clients/dgusto.png"></li>
            </ul>
            <a class="Button Button-BlackBorder SlideRight" href="">
                <span>
                {{text.BTNAwards}}
                </span>
            </a>
        </div>
    </div>
    <div class="slide Slide-Awards" data-color="White" data-mobilecolor="" data-name="Nagrody" id="Slide-Awards">
        <img alt="Palma" class="palma" src="_pics/palma.png">
        <div class="Wrapper">
            <h2 class="scetionTitle">
                {{text.SectionStack_awards_hedline}}
            </h2>
            <h3>
                {{text.SectionStack_awards_subhedline}}
            </h3>
            <ul class="AwardsList">
                <li>
                    <a href="https://www.designnominees.com/sites/hr-contact" target="_blank">
                        <span>Design Nominees</span> <span>Site Of The Day 13.02.2018</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.awwwards.com/sites/hr-contact-1" target="_blank">
                        <span>Awwwards</span> <span>Honorable Mention 24.01.2018</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.cssdesignawards.com/sites/hr-contact/32173/" target="_blank">
                        <span>CSS Design Awards</span> <span>Best UI Design 20.01.2018</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.cssdesignawards.com/sites/hr-contact/32173/" target="_blank">
                        <span>CSS Design Awards</span> <span>Special Kudos 20.01.2018</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.csslight.com/website/22156/HR-Contact" target="_blank">
                        <span>CSS Light</span> <span>Featured of the Day 19.01.2018</span>
                    </a>
                </li>
                <li>
                    <a href="http://cssreel.com/Website/huee" target="_blank">
                        <span>CSS Reel</span> <span>Winner of the Day 03.05.2017</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.cssdesignawards.com/sites/huee/30522/" target="_blank">
                        <span>CSS Design Awards</span> <span>Special Kudos 29.04.2017</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.csslight.com/website/19664/huee" target="_blank">
                        <span>CSS Light</span> <span>Featured of the Day 24.04.2017</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.awwwards.com/sites/huee-we-touch-harder" target="_blank">
                        <span>Awwwards</span> <span>Merit for Commendable Sites 20.04.2017</span>
                    </a>
                </li>
            </ul>
            <a class="Button Button-BlackBorder SlideLeft" href="">
                <span>
                {{text.BTNClients}}
                </span>
            </a>
        </div>
    </div>
</div>