<div class="section Section-Contact" data-color="White" data-id="contact" data-name="Kontakt" id="Section-Contact">
    <div class="slide" data-color="White" data-mobilecolor="" data-name="Kontakt">
        <div class="court">
            <p class="court-text">Sąd Rejonowy dla m. st. Warszawy w Warszawie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego. KRS: 0000624980. NIP: 5272773598. Wysokość kapitału zakładowego: 50 tys. zł</p>
        </div>
        <div class="ContactWrapper">
            <video autoplay="" data-autoplay="" id="phone-video" loop="">
                <source src="https://huee.in/_video/phone.webm" type="video/webm">
                <source src="https://huee.in/_video/phone.mp4" type="video/mp4">
            </video>
            <div class="SectionStack_Partners SectionStack_Partners-Footer">
                <!-- <h3>{{text.SectionStack_Contact_hedline}}</h3> -->
                <ul>
                    <li>
                        <a href="http://www.schmaltz.at/" target="_blank">
                            <img alt="Schmaltz" src="_pics/logo-shmalk.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="http://de.www.digitalsunray.com/" target="_blank">
                            <img alt="Digital Sunray" src="_pics/logo-digitalsunray.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="http://thegap.at/" target="_blank">
                            <img alt="The Gap" src="_pics/logo-thegap.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.biorama.eu/" target="_blank">
                            <img alt="Biorama" src="_pics/logo-biorama.jpg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="SectionCoContact-container">
                <div class="SectionCoContactHead">
                    <h2>
                        Get in touch.
                    </h2>
                </div>
                <div class="SectionCoContactPeople">
                    <ul class="SectionCoContactPeople">
                        <li>
                            <img alt="Gabi" src="_pics/gabi-contact.png">
                            <div class="person-details">
                                <strong class="person-name">
                                    Gabi &nbsp;
                                </strong>
                                <span>
                                    {{text.Poland}}
                                </span>
                                <br>
                                <strong>
                                    <a class="person-mail" href="mailto:gabi@huee.in" title="gabi@huee.in">
                                    gabi@huee.in
                                    </a>
                                </strong>
                                <strong>
                                    <a href="tel:0048535939911">
                                    +48 535 939 911
                                    </a>
                                </strong>
                            </div>
                        </li>
                        <li>
                            <img alt="Piotr" src="_pics/piotr-contact.png">
                            <div class="person-details">
                                <strong class="person-name">
                                    Piotr
                                    </strong>
                                    <span>
                                    {{text.Poland}}
                                    </span><br>
                                    <strong>
                                    <a class="person-mail" href="mailto:piotr@huee.in">
                                        piotr@huee.in
                                    </a>
                                    </strong>
                                    <strong>
                                    <a class="person-tel" href="tel:+48666646006">
                                        +48 666 646 006
                                    </a>
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ContactInfo">
                    <div class="ContactInfo-Adress">
                        <span class="ContactInfo-CompanyName">huee™ Sp. z o.o.</span><br>
                        Aleja Prymasa Tysiąclecia 48A,<br>
                        01 - 242 Warszawa, Polska<br>
                    </div>
                    <a class="ContactBigMail" href="mailto:sayhello@huee.in">
                        sayhello@huee.in
                    </a>
                </div>
            </div>
            <div class="SectionCoContactSocials">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/15157525" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/wetouchharder/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/wetouchharder/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.behance.net/sayhello0f47/" target="_blank"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/b/102409811065548108568/" target="_blank"><i class="fa fa-google"></i></a>
                    </li>
                </ul>
            </div>
            <a class="iubenda-nostyle iubenda-contact iubenda-embed" href="//www.iubenda.com/privacy-policy/7993967" title="Privacy Policy">
                {{text.privacyPolicy}}
            </a>
            <div class="ContactCopyright">
                &copy; 2018 huee&trade; {{text.rightReserved}}
            </div>
        </div>
    </div>
</div>