<div class="section Section-Intro" data-color="Black" data-id="intro" id="Section-Intro">
    <div class="SectionStack">
        <div class="SectionStack_Pic Mobile" style="background:url('_pics/intro-fallback-bg.jpg') center center no-repeat; background-size:cover;"></div><video autoplay="" class="SectionStack_Video Desktop" data-autoplay="" id="Section-Intro_SectionStack_Video" loop="" preload=""><source src="https://huee.in/_video/standby.mp4" type="video/mp4"></video>
        <div class="SectionStack_Lines" id="Intro_Lines"></div>
        <ul class="SectionStack_Partners SectionStack_Partners-Intro" id="Intro_Partners">
            <li>
                <a href="http://stgu.pl/" target="_blank"><img alt="huee in STGU" class="SectionStack_Partners_STGU" src="_pics/logo-stgu.png"></a>
            </li>
            <li>
                <a href="https://iab.org.pl/firmy-czlonkowskie/czlonkowie/huee-sp-z-o-o/" target="_blank"><img alt="huee in IAB" class="SectionStack_Partners_IAB" src="_pics/logo-iab.png"></a>
            </li>
            <li>
                <a href="https://digitalagencynetwork.com/agencies/warsaw/" target="_blank"><img alt="huee in Digital Agency Network" class="SectionStack_Partners_DAN" src="_pics/logo-dan.png"></a>
            </li>
        </ul>
        <div class="SectionStack_Intro" id="Intro_Content">
            <h1 class="fade-in" v-html="text.SectionStack_Intro_h1"></h1>
            <h2 v-html="text.SectionStack_Intro_h2"></h2>
            <div class="SectionStack_Intro_Fader" id="SectionStack_Intro_Fader"></div>
            <div class="toggleInfoBox">
                <h3 class="Desktop">
                    <div>
                        <img alt="" src="_pics/nopanic.png">
                        <div v-html="text.SectionStack_Intro_notPanic"></div>
                    </div>
                </h3>
            </div>
            <h3 class="Mobile" v-html="SectionStack_Intro_brifInfo"></h3>
            <ul class="SectionStack_Langs">
                <li>
                    <a class="SectionStack_Langs-en" v-on:click.prevent="changeLangToEN()">EN</a>
                </li>
                <li>
                    <a class="SectionStack_Langs-pl Active" v-on:click.prevent="changeLangToPL()">PL</a>
                </li>
            </ul>
            <div class="SectionStack_Intro_ActionsContainer" id="SectionStack_Intro_ActionsContainer">
                <div class="SectionStack_Intro_ActionsContainer_CallInput" id="SectionStack_Intro_ActionsContainer_CallInput">
                    <div class="SectionStack_Intro_ActionsContainer_CallInput_Lang" id="SectionStack_Intro_ActionsContainer_CallInput_Lang">
                        <span>PL</span> <i class="fa fa-sort"></i>
                    </div><input class="SectionStack_Intro_ActionsContainer_CallInput_Number" data-placeholder="Podaj swój numer telefonu!" data-placeholder2="Podaj poprawny numer telefonu" id="SectionStack_Intro_ActionsContainer_CallInput_Number" placeholder="Podaj swój numer telefonu!" type="text" value=""><a class="Button Button-Red SectionStack_Intro_ActionsContainer_CallInput_Button" href="" id="SectionStack_Intro_ActionsContainer_CallInput_Button"><span>Dzwoń</span></a>
                    <div class="SectionStack_Intro_ActionsContainer_CallInput_List" id="SectionStack_Intro_ActionsContainer_CallInput_List">
                        <ul>
                            <li data-code="+61" data-val="AU">Australia</li>
                            <li data-code="+43" data-val="AT">Austria</li>
                            <li data-code="+973" data-val="BH">Bahrain</li>
                            <li data-code="+32" data-val="BE">Belgium</li>
                            <li data-code="+55" data-val="BR">Brazil</li>
                            <li data-code="+359" data-val="BG">Bulgaria</li>
                            <li data-code="+1" data-val="CA">Canada</li>
                            <li data-code="+86" data-val="CN">China</li>
                            <li data-code="+357" data-val="CY">Cyprus</li>
                            <li data-code="+420" data-val="CZ">Czech Republic</li>
                            <li data-code="+45" data-val="DK">Denmark</li>
                            <li data-code="+372" data-val="EE">Estonia</li>
                            <li data-code="+358" data-val="FI">Finland</li>
                            <li data-code="+33" data-val="FR">France</li>
                            <li data-code="+49" data-val="DE">Germany</li>
                            <li data-code="+30" data-val="GR">Greece</li>
                            <li data-code="+852" data-val="HK">Hong Kong</li>
                            <li data-code="+91" data-val="IN">India</li>
                            <li data-code="+353" data-val="IE">Ireland</li>
                            <li data-code="+972" data-val="IL">Israel</li>
                            <li data-code="+39" data-val="IT">Italy</li>
                            <li data-code="+81" data-val="JP">Japan</li>
                            <li data-code="+371" data-val="LV">Latvia</li>
                            <li data-code="+370" data-val="LT">Lithuania</li>
                            <li data-code="+352" data-val="LU">Luxembourg</li>
                            <li data-code="+356" data-val="MT">Malta</li>
                            <li data-code="+52" data-val="MX">Mexico</li>
                            <li data-code="+31" data-val="NL">Netherlands</li>
                            <li data-code="+64" data-val="NZ">New Zealand</li>
                            <li data-code="+47" data-val="NO">Norway</li>
                            <li data-code="+51" data-val="PE">Peru</li>
                            <li class="Active" data-code="+48" data-val="PL">Polska</li>
                            <li data-code="+351" data-val="PT">Portugal</li>
                            <li data-code="+40" data-val="RO">Romania</li>
                            <li data-code="+421" data-val="SK">Slovakia</li>
                            <li data-code="+27" data-val="ZA">South Africa</li>
                            <li data-code="+34" data-val="ES">Spain</li>
                            <li data-code="+46" data-val="SE">Sweden</li>
                            <li data-code="+41" data-val="CH">Switzerland</li>
                            <li data-code="+44" data-val="GB">United Kingdom</li>
                            <li data-code="+1" data-val="US">United States</li>
                        </ul>
                    </div>
                </div>

                <div class="SectionStack_Intro_ActionsContainer_Share" id="SectionStack_Intro_ActionsContainer_Share">
                    <a class="SectionStack_Intro_ActionsContainer_Back Button Button-WhiteBorder" href="">
                        <span><i class="fa fa-long-arrow-left"></i>
                        {{text.BTNBack}}
                        </span>
                    </a>
                    <ul>
                        <li>
                            <a class="Button Button-Facebook ShareLink" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhuee.in">
                                <span><i class="fa fa-facebook"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="Button Button-Twitter ShareLink" href="https://twitter.com/share?url=http%3A%2F%2Fhuee.in">
                                <span><i class="fa fa-twitter"></i></span>
                            </a>
                        </li>
                        <li>
                            <a class="Button Button-Googleplus ShareLink" href="https://plus.google.com/share?url=http%3A%2F%2Fhuee.in">
                                <span><i class="fa fa-google-plus"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="SectionStack_Intro_Actions">
                <li>
                    <a href="" id="SectionStack_Intro_Actions_Share">
                        {{text.sherThis}}
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Sj_AMVxvQEk" id="SectionStack_Intro_Actions_Vr" target="_blank">
                    <svg version="1.1" viewbox="0 0 90 112.5" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <path d="M81.671,21.323c-2.085-2.084-72.503-1.553-74.054,0c-1.678,1.678-1.684,46.033,0,47.713 c0.558,0.559,12.151,0.896,26.007,1.012l3.068-8.486c0,0,1.987-8.04,7.92-8.04c6.257,0,8.99,9.675,8.99,9.675l2.555,6.848 c13.633-0.116,24.957-0.453,25.514-1.008C83.224,67.483,83.672,23.324,81.671,21.323z M24.572,54.582 c-6.063,0-10.978-4.914-10.978-10.979c0-6.063,4.915-10.978,10.978-10.978s10.979,4.915,10.979,10.978 C35.551,49.668,30.635,54.582,24.572,54.582z M64.334,54.582c-6.063,0-10.979-4.914-10.979-10.979 c0-6.063,4.916-10.978,10.979-10.978c6.062,0,10.978,4.915,10.978,10.978C75.312,49.668,70.396,54.582,64.334,54.582z"></path></svg>VR360 Making of</a>
                </li>
            </ul>
        </div>
        <div class="TheMovie Desktop" id="TheMovie">
            <div class="close-video-button">
                <p class="close-video-text">
                    {{text.closeVideo}}
                </p>
                <svg class="close-video-cross" viewbox="0 0 612 792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M382.2 396.4l178.6-178.6L484 141 305.4 319.6 126.8 141 50 217.8l178.6 178.6L50 575l76.8 76.8 178.6-178.6L484 651.8l76.8-76.8-178.6-178.6z" fill="#AFAFAF"></path>
                </svg>
            </div>
            <video class="Desktop" id="TheMovie-TheBrief">
                <source data-src="_video/thebrief_pl.mp4" src="_video/thebrief_pl.mp4" type="video/mp4">
            </video>
            <video class="Desktop" id="TheMovie-DiallingDetail" loop>
                <source src="_video/phonedetail-dialling.mp4" type="video/mp4">
            </video>
            <video class="Desktop" id="TheMovie-Dialling">
                <source src="_video/dialling_pl.mp4" type="video/mp4">
            </video>
            <video class="Desktop" id="TheMovie-StandbyDetail">
                <source src="_video/phonedetail-standby.mp4" type="video/mp4">
            </video>
            <div class="TheMovie-Fade" id="TheMovie-Fade"></div>
        </div>
        <a class="Desktop" href="http://www.csslight.com/website/19664/huee" style="width:135px;height:50px;position:fixed;bottom:140px;right:0px;z-index:99999;text-indent:-9999px;background: url(_pics/csslight-ribbon-black-right.png) center center no-repeat; background-size:100% 100%;" target="_blank" title="CSS Light">
            CSS Light
        </a>
        <a class="Desktop" href="http://cssdesignawards.com/sites/huee/30522/" style="width:100px;height:100px;position:fixed;bottom:25px;right:20px;z-index:99999;text-indent:-9999px;background: url(_pics/cssda-special-kudos-beige.png) center center no-repeat; background-size:100% 100%;" target="_blank" title="CSS Design Awards">
            CSS Design Awards
        </a>
        <a class="Desktop" href="https://www.awwwards.com/sites/huee-we-touch-harder" style="width:90px;height:135px;position:fixed;bottom:200px;right:0px;z-index:99999;text-indent:-9999px;background: url(_pics/awwwards_honorable.png) center center no-repeat; background-size:100% 100%;" target="_blank" title="Awwwards Honorable mention">
            Awwwards Honorable mention
        </a>
    </div>
</div>