<div class="section Section-News-Medium" data-color="White" data-id="news"  data-name="News" id="Section-News-Medium">
    <div class="SectionStack">
        <h2 class="scetionTitle scetionTitle-NewsMedium">
            {{text.blogposts}}
        </h2>
        <div id="medium"></div>
        <ul class="SectionStack_NewsUi">
            <li>
                <a class="SectionStack_NewsUi_Download" href="https://huee.in/_content/the_book_of_everything_huee_brandbook.pdf" target="_blank">
                <div></div>
                <div v-html="text.downloadBrednBook"></div>
                </a>
            </li>
        </ul>
    </div>
</div>