<div class="section Section-People" data-color="Black" data-id="people" data-name="Ludzie" id="Section-People">
    <div class="SectionStack">
        <div class="SectionStack_People">
            <h2 v-html="text.SectionStack_People_scetion_hedline"></h2>
            <div class="copy" v-html="text.SectionStack_People_scetion_subhedline"></div>
            <div class="people-thumbs-container gallery-thumbs">
                <div class="thumbs-button-prev"></div>
                <div class="thumbs-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/prezes1.jpg');"></span>
                                <span class="thumbs-photo-red" style="background-image: url('_pics/prezes2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_piotr}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/gabi1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/gabi2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_gabi}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/rochu1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/rochu2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_roch}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/urszula1.jpg');"></span>
                                <span class="thumbs-photo-red" style="background-image: url('_pics/urszula2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_urszula}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/michal1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/michal2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_michal}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/kinga1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/kinga2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_kinga}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/adam1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/adam2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_adam}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/dzoana1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/dzoana2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_joanna}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/gienek1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/gienek2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_jeneya}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/bartek1.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/bartek2.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_bartek}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/niko.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/niko-red.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_nicko}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/david.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/david-red.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_david}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/gerhard.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/gerhard-red.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_gerhard}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/martin.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/martin-red.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_martin}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="thumbs-photo-container">
                                <span class="thumbs-photo" style="background-image: url('_pics/thomas.jpg');"></span> <span class="thumbs-photo-red" style="background-image: url('_pics/thomas-red.jpg');"></span>
                            </div>
                            <div class="thumbs-name">
                                <span>{{text.SectionStack_People_scetion_list_name_thomas}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="people-gallery-container gallery-top">
                <a class="close-button" href="#" id="TeamSwiperCloseButton"></a>
                <div class="gallery-button-prev"></div>
                <div class="gallery-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Piotr" src="_pics/prezes-sofa.png">
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_piotr"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_piotr}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_piotr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Gabi" src="_pics/gabi-sofa.png"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_gabi"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_gabi}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_gabi"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Roch" src="_pics/roszek-sofa.png">
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_roch"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_roch}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_roch"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Urszula" src="_pics/urszula-sofa.png">
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_urszula"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_urszula}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_urszula">{{text.SectionStack_People_scetion_bio_stroy_urszula}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Michał" src="_pics/michal-sofa.png"/>
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_michal"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_michal}}</h3>
                                    <div class="story" v-html"text.SectionStack_People_scetion_bio_stroy_michal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Kinga" src="_pics/kinga-sofa.png"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_kinga"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_kinga}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_kinga"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Adam" src="_pics/adam-sofa.png">
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_adam"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_adam}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_adam"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2">
                                <img alt="Joanna" src="_pics/dzoana-sofa.png">
                            </div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_joanna"></h2>
                                    <h3 class="position"> {{text.SectionStack_People_scetion_bio_posiotion_joanna}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_joanna"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Jenya" src="_pics/gienek-sofa.png"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_jenya"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_jenya}}</h3>
                                    <div class="story">{{text.SectionStack_People_scetion_bio_stroy_jenya}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Bartek" src="_pics/bartek-sofa.png"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_bartek"></h2>
                                    <h3 class="position"> {{text.SectionStack_People_scetion_bio_posiotion_bartek}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_bartek"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Niko" src="_pics/niko-frame.jpg"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_nicki"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_nicki}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_nicki"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="David" src="_pics/david-frame.jpg"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_david"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_david}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_david"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Gerhard" src="_pics/gerhard-frame.jpg"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_gerhard"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_gerhard}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_gerhard"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Martin" src="_pics/martin-frame.jpg"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_martin"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_martin}}</h3>
                                    <div class="story" v-html="text.SectionStack_People_scetion_bio_stroy_martin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="people-swiper-slide-container">
                            <div class="col col-1-2"><img alt="Thomas" src="_pics/thomas-frame.jpg"></div>
                            <div class="col col-2-2">
                                <div class="member-bio">
                                    <h2 class="name" v-html="text.SectionStack_People_scetion_bio_fullName_thomas"></h2>
                                    <h3 class="position">{{text.SectionStack_People_scetion_bio_posiotion_thomas}}</h3>
                                    <div class="story"  v-html="text.SectionStack_People_scetion_bio_stroy_thomas"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>