<div class="section Section-Projects" data-color="Black" data-id="workhighlights" data-name="Wybrane projekty" id="Section-Projects">
    <div class="slide" data-color="Black" data-mobilecolor="" data-name="Wybrane projekty">
        <ul class="SectionStack_Portfolio">
            <li>
                <a class="PortfolioItem OutboundLink" href="https://huee.in/portfolio-quick-coders/" target="_blank">
                    <video class="SectionStack_Portfolio_Img" style="background: url('_content/qca-cover-template.jpg') center center no-repeat; background-size:cover;" loop>
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_qca}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_qca}}
                        </h5>
                    </div>
                </a>
            </li>
            <li>
                <a class="PortfolioItem OutboundLink" href="https://huee.in/portfolio-elektro_sonda/" target="_blank">
                    <video class="SectionStack_Portfolio_Img SectionStack_Portfolio_Video" style="background: url('_content/elektrosonda-template.png') center center no-repeat; background-size:cover;" loop>
                        <source src="https://huee.in/_video/zegar.webm" type="video/webm">
                        <source src="https://huee.in/_video/zegar.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_sonda}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_sonda}}
                        </h5>
                    </div>
                </a>
            </li>
            <li>
                <a class="PortfolioItem OutboundLink" href="https://huee.in/portfolio-hrcontact/" target="_blank">
                    <video class="SectionStack_Portfolio_Img SectionStack_Portfolio_Video" loop>
                        <source src="https://huee.in/_video/hr.webm" type="video/webm">
                        <source src="https://huee.in/_video/hr.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_hrc}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_hrc}}
                        </h5>
                    </div>
                </a>
            </li>
            <li>
                <a class="PortfolioItem OutboundLink" href="https://www.behance.net/gallery/60823065/IFM-Global-Funds" target="_blank">
                    <video class="SectionStack_Portfolio_Img SectionStack_Portfolio_Video" loop>
                        <source src="https://huee.in/_video/ifm.webm" type="video/webm">
                        <source src="https://huee.in/_video/ifm.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_IFM}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_IFM}}
                        </h5>
                    </div>
                </a>
            </li>
            <li>
                <a class="PortfolioItem OutboundLink" href="https://www.behance.net/gallery/60849449/Dr-Irena-Eris-KV" target="_blank">
                    <video class="SectionStack_Portfolio_Img SectionStack_Portfolio_Video" loop>
                        <source src="https://huee.in/_video/irena.webm" type="video/webm">
                        <source src="https://huee.in/_video/irena.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_DREris}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_DREris}}
                        </h5>
                    </div>
                </a>
            </li>
            <li>
                <a class="PortfolioItem OutboundLink" href="https://www.behance.net/gallery/60822591/Futourist" target="_blank">
                <video class="SectionStack_Portfolio_Img SectionStack_Portfolio_Video" loop>
                        <source src="https://huee.in/_video/futourist.webm" type="video/webm">
                        <source src="https://huee.in/_video/futourist.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>
                        {{text.SectionStack_Projects_hedline_Futurista}}
                        </h4>
                        <h5>
                        {{text.SectionStack_Projects_discriptio_Futurista}}
                        </h5>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>