<div class="section Section-Why fp-noscroll" data-color="White" data-id="why"  data-name="Dlaczego?" id="Section-Why">
    <div class="SectionStack SectionStack-why">
        <div class="why-container">
            <div class="why-col why-col-1-2">
                <video autoplay="" data-autoplay="" id="hand-video" loop=""><source src="_video/hand.webm" type="video/webm"> <source src="_video/hand.mp4" type="video/mp4"></video>
            </div>
            <div class="why-col why-col-2-2">
                <h1 class="scetionTitle why-title" v-html="text.Section_Why_Headline"></h1>
                <div class="why-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p class="why-text why-text-short">
                                {{text.Section_Why_Copy1}}
                            </p>
                        </div>
                        <div class="swiper-slide">
                            <p class="why-text why-text-long">
                                {{text.Section_Why_Copy2}}
                            </p>
                        </div>
                        <div class="swiper-slide">
                            <p class="why-text why-text-long">
                                {{text.Section_Why_Copy3}}
                            </p>
                        </div>
                    </div><a class="Button Button-BlackBorder why-slider-button">
                        <span>{{text.Section_Why_More}}</span>
                        <span class="why-arrow"></span>
                    </a>
                </div>
                <!-- <div class="why-slider-pagination"></div> -->
            </div>
        </div>
    </div>
</div>