//## Defaults
@import "_variables";
@import "_mixins";

html,
body {
    background-color: $default;
    // color: $gray;
    // font-family: $primary-font;
    font-size: $font-size-base;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.65;
    width: 100%;
    overflow-x: hidden;  
}