<a class="HueeLogo" href="#intro">
    <svg id="Layer_1" style="enable-background:new 0 0 566.9 161.2;" version="1.1" viewbox="0 0 566.9 161.2" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect height="113.3" width="47.7" x="213.6" y="45.3"></rect>
        <rect height="158.7" width="47.6" x="-0.5" y="0"></rect>
        <path d="M475.2,131.7V43.6c-28.7,5.3-50.4,29.4-50.4,58.3c0,28.8,21.5,52.8,50.1,58.2c3.9,0.8,8,1.1,12.2,1.1 c5.4,0,10.6-0.7,15.5-1.9C487.4,158.5,475.2,146.4,475.2,131.7"></path>
        <path d="M332.5,131.7V43.6c-28.7,5.3-50.4,29.4-50.4,58.3c0,28.8,21.5,52.8,50.1,58.2c3.9,0.8,8,1.1,12.2,1.1 c5.4,0,10.6-0.7,15.5-1.9C344.6,158.5,332.5,146.4,332.5,131.7"></path>
        <path d="M406.7,102h-50.2c3.5-7.4,5.5-15.6,5.5-24.3c0-13.1-4.4-25.2-12-34.9c31.8,2.7,56.7,28.1,56.7,59.1V102z"></path>
        <path d="M549.5,102h-50.2c3.5-7.4,5.4-15.6,5.4-24.3c0-13.1-4.4-25.2-11.9-34.9c31.8,2.7,56.7,28.1,56.7,59.1V102z"></path>
        <path d="M118.3,86.9c0-22.4-18.7-40.7-42-41.5h-9.4c0.1,0.2,0.2,0.4,0.2,0.6c2.4,6.3,3.7,13,3.7,20.1v92.7h47.6V86.9z"></path>
        <path d="M142.3,117.2c0,22.4,18.7,40.7,42,41.5h9.4c-0.1-0.2-0.2-0.4-0.2-0.6c-2.4-6.3-3.7-13-3.7-20.1V45.3h-47.6V117.2z"></path>
        <polygon class="st0" points="532.4,33.2 530.7,33.2 530.7,11.6 522.8,11.6 522.8,10 540.3,10 540.3,11.6 532.4,11.6"></polygon>
        <path class="st0" d="M554.6,33.2l-9.1-21.4h-0.1c0.1,1.3,0.1,2.7,0.1,4v17.4h-1.6V10h2.6l8.6,20.4h0.1l8.6-20.4h2.6v23.2h-1.7V15.7 c0-1.2,0.1-2.5,0.2-3.8h-0.1l-9.1,21.4H554.6z"></path>
    </svg>
</a>
<div class="HueeBurger" id="HueeBurger">
    <span></span>
</div>
<div class="HueeCurrent" id="HueeCurrent"></div>