<div class="OverlayBgAnim OverlayBgAnim-Red" id="OverlayBgAnim-Red"></div>
<div class="Overlay Overlay-Menu" id="Overlay-Menu">
    <div class="Overlay-Menu_Wrapper">
        <h1>{{text.NavItem_Hedline}}</h1>
        <nav class="Overlay-Menu_MainNav" data-bg="#e21e30" id="Overlay-Menu_MainNav">
            <ul>
                <li>
                    <a data-bg="#e21e91" href="#intro">{{text.NavItem_Intro}}</a>
                </li>
                <li>
                    <a data-bg="#8d1ee2" href="#news">{{text.NavItem_News}}</a>
                </li>
                <li>
                    <a data-bg="#1e76e2" href="#about/0">{{text.NavItem_About}}</a>
                </li>
                <li>
                    <a data-bg="#0ed2a6" href="#workhighlights">{{text.NavItem_Protfolio}}</a>
                </li>
                <li>
                    <a data-bg="#abd20e" href="#people">{{text.NavItem_People}}</a>
                </li>
                <li>
                    <a data-bg="#d2c20e" href="#capabilities">{{text.NavItem_Capabilities}}</a>
                </li>
                <li>
                    <a data-bg="#e2911e" href="#teamexperience">{{text.NavItem_Teamexperience}}</a>
                </li>
                <li>
                    <a data-bg="#000000" href="#contact">{{text.NavItem_Contact}}</a>
                </li>
            </ul>
        </nav>
        <div class="Overlay-Menu_Bottom">
            <ul>
                <li>
                    <a data-bg="#0077b5" href="https://www.linkedin.com/company/15157525" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a data-bg="#e4405f" href="https://www.instagram.com/wetouchharder/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a data-bg="#3b5999" href="https://www.facebook.com/wetouchharder/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a data-bg="#00b599" href="https://www.behance.net/sayhello0f47/" target="_blank"><i class="fa fa-behance"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>