<div class="Preloader" id="Preloader">
    <div class="PreloaderProgress" id="PreloaderProgress"></div>
    <div class="SvgWrap">
        <svg version="1.1" viewbox="0 0 1000 1000" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path d="M179.1,357.4c17.3,0,34.3,0,52.1,0c0,81.3,0,150.4,0,232.5c-16.7,0-33.9,0-52.1,0C179.1,508.9,179.1,439.5,179.1,357.4z"></path>
        <path d="M416.7,435c18,0,34.9,0,52.5,0c0,56.2,0,97.7,0,154.3c-17.4,0-34.6,0-52.5,0C416.7,533.3,416.7,491.7,416.7,435z"></path>
        <path d="M391.6,588.6c-27.9,5.5-50.8-16.9-51.6-54.8c-0.8-38-0.2-59.1-0.2-98.2c15.1,0,29.9,0,46.4,0c0,4.1,0,8.6,0,13.1 c0,42.3-0.3,67.7,0.3,110C386.6,568.7,386.3,581,391.6,588.6z"></path>
        <path d="M259.9,436.2c27.9-5.5,50.8,16.9,51.6,54.8c0.8,38,0.2,59.1,0.2,98.2c-15.1,0-29.9,0-46.4,0c0-4.1,0-6.6,0-11.1 c0-42.3,0.3-69.7-0.3-112C264.9,456.1,265.1,443.8,259.9,436.2z"></path>
        <path d="M554.1,435.2c-5.6,12.8-5.6,26.1-5.8,39.6c-0.5,33.2-0.4,39.3-0.2,67.9c0.2,30.9,7.9,39.4,37,45.6 c-44,7.5-83.8-10.8-92.5-59.7C484.7,484.3,515.3,442.3,554.1,435.2z"></path>
        <path d="M588.3,435.1c31,3.9,59.5,38.6,59.5,79.9c-18,0-36.1,0-54.6,0C606,473.5,597.5,464.5,588.3,435.1z"></path>
        <path d="M727.1,435.2c-5.6,12.8-5.6,26.1-5.8,39.6c-0.5,33.2-0.4,39.3-0.2,67.9c0.2,30.9,7.9,39.4,37,45.6 c-44,7.5-83.8-10.8-92.5-59.7C657.7,484.3,688.3,442.3,727.1,435.2z"></path>
        <path d="M761.3,435.1c31,3.9,59.5,38.6,59.5,79.9c-18,0-36.1,0-54.6,0C779,473.5,770.5,464.5,761.3,435.1z"></path>
        <g>
            <path d="M826.6,457h-1.5v-20h-6.9v-1.4h15.4v1.4h-6.9V457z"></path>
            <path d="M846.1,457l-8-19.7H838c0.1,1.2,0.1,2.4,0.1,3.7v16h-1.4v-21.4h2.3l7.6,18.8h0.1l7.6-18.8h2.3V457H855v-16.2 c0-1.1,0.1-2.3,0.2-3.5h-0.1l-8,19.7H846.1z"></path>
        </g></svg>
    </div>
    <div class="PreloaderTagline" id="PreloaderTagline">
        {{PreloaderTagline}}
    </div>
</div>