//## Buttons
@import "../_variables";
@import "../_mixins";

button,
[class*="button-"] {
    border: 0; 
    appearance: none;
    display: inline-block;
    cursor: pointer;
    @include flex-shrink(0);
    @include transition(
        opacity .5s ease,
        transform .5s ease,
        background-color .3s ease,
        border-color .3s ease,
        color .3s ease
    )
}